# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.isnull().sum()

CustomerID     0
FirstName      0
LastName       0
SalesID        0
ProductID      0
ProductName    0
Quantity       0
dtype: int64

In [4]:
data[["Quantity"]].fillna(0)
data.isnull().sum()

CustomerID     0
FirstName      0
LastName       0
SalesID        0
ProductID      0
ProductName    0
Quantity       0
dtype: int64

In [5]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [6]:
total_per_customer= data.groupby(["CustomerID","ProductName"]).agg(Suma=("Quantity","sum"))
total_per_customer

                                          Suma
CustomerID ProductName
33         Apricots - Dried                  1
           Assorted Desserts                 1
           Bandage - Flexible Neon           1
           Bar Mix - Pina Colada, 355 Ml     1
           Beans - Kidney, Canned            1
...                                        ...
98200      Vol Au Vents                     50
           Wasabi Powder                    25
           Wine - Fume Blanc Fetzer         25
           Wine - Hardys Bankside Shiraz    25
           Yogurt - French Vanilla          25

[63628 rows x 1 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [7]:
table = pd.pivot_table(data, values='Quantity', index=['ProductName'], columns=['CustomerID'], aggfunc=np.sum, fill_value=0)
table

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,0,0
Yoghurt Tubes,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,25,0,0
"Yogurt - Blueberry, 175 Gr",0,1,0,0,0,0,0,0,0,0,...,25,0,0,25,0,0,0,0,0,0
Yogurt - French Vanilla,1,0,0,1,0,0,2,0,0,1,...,0,0,25,0,0,0,0,0,0,25
Zucchini - Yellow,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [8]:
from scipy.spatial.distance import pdist, squareform

distances = pdist(table.T, 'euclidean')
print(distances)
print("-----Squareform-----")
print(squareform(distances))

[ 11.91637529  10.48808848  11.22497216 ... 304.13812651 305.16389039
 303.10889132]
-----Squareform-----
[[  0.          11.91637529  10.48808848 ... 228.62851966 239.
  229.77380181]
 [ 11.91637529   0.          11.74734012 ... 228.01096465 239.03765394
  229.70415756]
 [ 10.48808848  11.74734012   0.         ... 228.08112592 238.26665734
  229.77380181]
 ...
 [228.62851966 228.01096465 228.08112592 ...   0.         304.13812651
  305.16389039]
 [239.         239.03765394 238.26665734 ... 304.13812651   0.
  303.10889132]
 [229.77380181 229.70415756 229.77380181 ... 305.16389039 303.10889132
    0.        ]]

In [9]:
distances = pd.DataFrame(1/(1 + squareform(pdist(table.T, 'euclidean'))), 
                         index=table.columns, columns=table.columns)

distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [10]:
similarities = distances[33].sort_values(ascending=False)[1:6]
listcust = list(similarities.index)
listcust

[264, 3535, 3317, 2503, 3305]

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [11]:
#simil_customers = similarities.axes
#country=[264,3535,3317,2503,3305]
#usa3= total_per_customer[(total_per_customer["CustomerID"].isin(country))]
total_buys_rec= total_per_customer.loc[listcust]
total_buys_rec

                                           Suma
CustomerID ProductName
264        Apricots - Halves                  1
           Apricots Fresh                     1
           Bacardi Breezer - Tropical         1
           Bagel - Plain                      1
           Banana - Leaves                    1
...                                         ...
3535       Tray - 16in Rnd Blk                1
           Wanton Wrap                        1
           Wine - Blue Nun Qualitatswein      1
           Wine - Magnotta, Merlot Sr Vqa     1
           Yoghurt Tubes                      1

[270 rows x 1 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [12]:
total_buys_rec.index = total_buys_rec.index.droplevel("CustomerID")

In [13]:
total_buys_rec
index_by_product = total_buys_rec.reset_index()
total_buys_rec =index_by_product.groupby("ProductName").sum().sort_values(by='Suma',ascending=False)
total_buys_rec

                               Suma
ProductName
Butter - Unsalted                 3
Wine - Ej Gallo Sierra Valley     3
Towels - Paper / Kraft            3
Soup - Campbells Bean Medley      3
Wine - Blue Nun Qualitatswein     3
...                             ...
Hinge W Undercut                  1
Ice Cream Bar - Hageen Daz To     1
Jagermeister                      1
Jolt Cola - Electric Blue         1
Yogurt - French Vanilla           1

[218 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [27]:
#customer_chosen= table.T
#customer_chosen= customer_chosen.reset_index()
#customer_chosen.iloc(1)

total_buys_rec= total_buys_rec.merge(table, left_on = "ProductName", right_on = "ProductName")
total_buys_rec_33= total_buys_rec[["Suma",33]]

In [32]:
limit=0
total_buys_rec_33 = total_buys_rec_33[total_buys_rec_33[33]<=limit]
#soy demasiado fan de esta formulita :)
lista_33= total_buys_rec_33.sort_values(by='Suma',ascending=False).head(5)
lista_33_products = list(lista_33.index)
lista_33_products

['Butter - Unsalted',
 'Soup - Campbells Bean Medley',
 'Wine - Blue Nun Qualitatswein',
 'Wine - Ej Gallo Sierra Valley',
 'Beans - Wax']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [21]:
rec_customers={}
simil_customers={}

for i in data.CustomerID:
    similarities_total = distances[i].sort_values(ascending=False)[1:6]
    listcust_total = list(similarities_total.index)
    simil_customers[i]=listcust_total

In [37]:
for x,y in simil_customers.items():
    total_buys_rec_all = total_per_customer.loc[y]
    total_buys_rec_all.index = total_buys_rec_all.index.droplevel("CustomerID")
    index_by_product_all = total_buys_rec_all.reset_index()
    total_buys_rec_all =index_by_product_all.groupby("ProductName").sum().sort_values(by='Suma',ascending=False)
    total_buys_rec_all= total_buys_rec_all.merge(table, left_on = "ProductName", right_on = "ProductName")
    total_buys_rec_all_total= total_buys_rec_all[["Suma",x]]
    total_buys_rec_all_total = total_buys_rec_all_total[total_buys_rec_all_total[x]<=limit]
    lista_all= total_buys_rec_all_total.sort_values(by='Suma',ascending=False).head(5)
    lista_all_index= list(lista_all.index)
    rec_customers[x]=lista_all_index
    
# cuando se abren las recs para mercadona jajajaj?

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [53]:
final_df = pd.DataFrame([[key, rec_customers[key]] for key in rec_customers.keys()], columns=['id', 'products'])
final_df
tags = final_df['products'].apply(pd.Series)
tags = tags.rename(columns = lambda x : 'Product_' + str(x))
final_df= pd.concat([final_df[:], tags[:]], axis=1)
final_df

,id,products,Product_0,Product_1,Product_2,Product_3,Product_4
0,61288,"[Jagermeister, Chicken - Soup Base, Lime Cordi...",Jagermeister,Chicken - Soup Base,Lime Cordial - Roses,Macaroons - Two Bite Choc,Flavouring - Orange
1,77352,"[Wine - Valpolicella Masi, Tahini Paste, Tuna ...",Wine - Valpolicella Masi,Tahini Paste,Tuna - Salad Premix,Chicken - Soup Base,Isomalt
2,40094,"[Bread - Italian Corn Meal Poly, Puree - Mocha...",Bread - Italian Corn Meal Poly,Puree - Mocha,Tuna - Salad Premix,Sherry - Dry,Beer - Sleemans Cream Ale
3,23548,"[Squid - Tubes / Tenticles 10/20, Wanton Wrap,...",Squid - Tubes / Tenticles 10/20,Wanton Wrap,Puree - Mocha,Pernod,Sprouts - Baby Pea Tendrils
4,78981,"[Vanilla Beans, Lettuce - Frisee, Yogurt - Blu...",Vanilla Beans,Lettuce - Frisee,"Yogurt - Blueberry, 175 Gr",Cinnamon Buns Sticky,Pop Shoppe Cream Soda
...,...,...,...,...,...,...,...
995,49005,"[Pasta - Penne, Rigate, Dry, Browning Caramel ...","Pasta - Penne, Rigate, Dry",Browning Caramel Glace,Tea - Decaf Lipton,"Garlic - Primerba, Paste","Wine - Red, Harrow Estates, Cab"
996,41286,"[Veal - Inside, Wonton Wrappers, Veal - Inside...",Veal - Inside,Wonton Wrappers,"Veal - Inside, Choice",Bread Crumbs - Japanese Style,Wasabi Powder
997,85878,"[Olives - Kalamata, Wine - White Cab Sauv.on, ...",Olives - Kalamata,Wine - White Cab Sauv.on,Veal - Eye Of Round,Bread - Calabrese Baguette,Cheese - Wine
998,68506,"[Veal - Brisket, Provimi,bnls, Beef - Ground M...","Veal - Brisket, Provimi,bnls",Beef - Ground Medium,"Rosemary - Primerba, Paste",Scallops - 10/20,"Oregano - Dry, Rubbed"
999,3472,"[Pepper - Black, Whole, Butter - Unsalted, Win...","Pepper - Black, Whole",Butter - Unsalted,Wine - Ej Gallo Sierra Valley,Wine - Blue Nun Qualitatswein,Beef Wellington

In [56]:
final_table=final_df[["id","Product_0","Product_1","Product_2","Product_3","Product_4"]]
final_table.head(5)

,id,Product_0,Product_1,Product_2,Product_3,Product_4
0,61288,Jagermeister,Chicken - Soup Base,Lime Cordial - Roses,Macaroons - Two Bite Choc,Flavouring - Orange
1,77352,Wine - Valpolicella Masi,Tahini Paste,Tuna - Salad Premix,Chicken - Soup Base,Isomalt
2,40094,Bread - Italian Corn Meal Poly,Puree - Mocha,Tuna - Salad Premix,Sherry - Dry,Beer - Sleemans Cream Ale
3,23548,Squid - Tubes / Tenticles 10/20,Wanton Wrap,Puree - Mocha,Pernod,Sprouts - Baby Pea Tendrils
4,78981,Vanilla Beans,Lettuce - Frisee,"Yogurt - Blueberry, 175 Gr",Cinnamon Buns Sticky,Pop Shoppe Cream Soda

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [57]:
distances_cityblock = pd.DataFrame(1/(1 + squareform(pdist(table.T, 'cityblock'))), 
                         index=table.columns, columns=table.columns)

distances_cityblock

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.008000,0.009901,0.009174,0.008403,0.008929,0.007752,0.008850,0.008621,0.008696,...,0.000564,0.000596,0.000556,0.000674,0.000542,0.000569,0.000556,0.000554,0.000476,0.000534
200,0.008000,1.000000,0.008130,0.007874,0.006993,0.007576,0.007752,0.007752,0.008065,0.008130,...,0.000563,0.000593,0.000557,0.000675,0.000538,0.000567,0.000558,0.000553,0.000473,0.000531
264,0.009901,0.008130,1.000000,0.008547,0.008850,0.008475,0.007874,0.008403,0.008621,0.008264,...,0.000566,0.000596,0.000556,0.000678,0.000543,0.000576,0.000559,0.000557,0.000479,0.000533
356,0.009174,0.007874,0.008547,1.000000,0.008000,0.008197,0.007752,0.009174,0.008065,0.008130,...,0.000564,0.000595,0.000556,0.000676,0.000540,0.000571,0.000553,0.000556,0.000478,0.000534
412,0.008403,0.006993,0.008850,0.008000,1.000000,0.008065,0.007752,0.008850,0.007937,0.008264,...,0.000561,0.000599,0.000553,0.000674,0.000540,0.000570,0.000552,0.000555,0.000477,0.000536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.000569,0.000567,0.000576,0.000571,0.000570,0.000573,0.000571,0.000573,0.000572,0.000571,...,0.000336,0.000360,0.000322,0.000381,0.000357,1.000000,0.000364,0.000351,0.000298,0.000301
98069,0.000556,0.000558,0.000559,0.000553,0.000552,0.000554,0.000553,0.000556,0.000556,0.000556,...,0.000325,0.000336,0.000322,0.000342,0.000351,0.000364,1.000000,0.000351,0.000308,0.000330
98159,0.000554,0.000553,0.000557,0.000556,0.000555,0.000556,0.000554,0.000557,0.000558,0.000556,...,0.000330,0.000367,0.000333,0.000348,0.000328,0.000351,0.000351,1.000000,0.000317,0.000315
98185,0.000476,0.000473,0.000479,0.000478,0.000477,0.000476,0.000474,0.000479,0.000478,0.000474,...,0.000292,0.000284,0.000308,0.000330,0.000294,0.000298,0.000308,0.000317,1.000000,0.000315
98200,0.000534,0.000531,0.000533,0.000534,0.000536,0.000536,0.000532,0.000535,0.000532,0.000536,...,0.000317,0.000322,0.000330,0.000339,0.000325,0.000301,0.000330,0.000315,0.000315,1.000000

In [58]:
rec_customers_1={}
simil_customers_1={}

for i in data.CustomerID:
    similarities_total_cityblock = distances_cityblock[i].sort_values(ascending=False)[1:6]
    listcust_total_cityblock = list(similarities_total_cityblock.index)
    simil_customers_1[i]=listcust_total_cityblock

In [59]:
for x,y in simil_customers_1.items():
    total_buys_rec_all = total_per_customer.loc[y]
    total_buys_rec_all.index = total_buys_rec_all.index.droplevel("CustomerID")
    index_by_product_all = total_buys_rec_all.reset_index()
    total_buys_rec_all =index_by_product_all.groupby("ProductName").sum().sort_values(by='Suma',ascending=False)
    total_buys_rec_all= total_buys_rec_all.merge(table, left_on = "ProductName", right_on = "ProductName")
    total_buys_rec_all_total= total_buys_rec_all[["Suma",x]]
    total_buys_rec_all_total = total_buys_rec_all_total[total_buys_rec_all_total[x]<=limit]
    lista_all= total_buys_rec_all_total.sort_values(by='Suma',ascending=False).head(5)
    lista_all_index= list(lista_all.index)
    rec_customers_1[x]=lista_all_index

In [60]:
final_df_cityblock = pd.DataFrame([[key, rec_customers_1[key]] for key in rec_customers_1.keys()], columns=['id', 'products'])
final_df_cityblock
tags = final_df_cityblock['products'].apply(pd.Series)
tags = tags.rename(columns = lambda x : 'Product_' + str(x))
final_df_cityblock= pd.concat([final_df[:], tags[:]], axis=1)
final_df_cityblock
#que guay sin quererlo se me han unido las dos tablas :)!!!

,id,products,Product_0,Product_1,Product_2,Product_3,Product_4,Product_0,Product_1,Product_2,Product_3,Product_4
0,61288,"[Jagermeister, Chicken - Soup Base, Lime Cordi...",Jagermeister,Chicken - Soup Base,Lime Cordial - Roses,Macaroons - Two Bite Choc,Flavouring - Orange,Soup - Campbells Bean Medley,"Oranges - Navel, 72",Wine - Ej Gallo Sierra Valley,Bay Leaf,Knife Plastic - White
1,77352,"[Wine - Valpolicella Masi, Tahini Paste, Tuna ...",Wine - Valpolicella Masi,Tahini Paste,Tuna - Salad Premix,Chicken - Soup Base,Isomalt,Tia Maria,"Sole - Dover, Whole, Fresh",Veal - Sweetbread,Foam Dinner Plate,Juice - Lime
2,40094,"[Bread - Italian Corn Meal Poly, Puree - Mocha...",Bread - Italian Corn Meal Poly,Puree - Mocha,Tuna - Salad Premix,Sherry - Dry,Beer - Sleemans Cream Ale,Knife Plastic - White,Wine - Ej Gallo Sierra Valley,Beef Wellington,Soup - Campbells Bean Medley,Butter - Unsalted
3,23548,"[Squid - Tubes / Tenticles 10/20, Wanton Wrap,...",Squid - Tubes / Tenticles 10/20,Wanton Wrap,Puree - Mocha,Pernod,Sprouts - Baby Pea Tendrils,Beef - Texas Style Burger,Squid - Tubes / Tenticles 10/20,"Cheese - Boursin, Garlic / Herbs",Wine - Chardonnay South,Ice Cream Bar - Hageen Daz To
4,78981,"[Vanilla Beans, Lettuce - Frisee, Yogurt - Blu...",Vanilla Beans,Lettuce - Frisee,"Yogurt - Blueberry, 175 Gr",Cinnamon Buns Sticky,Pop Shoppe Cream Soda,Veal - Sweetbread,Knife Plastic - White,Tia Maria,"Veal - Inside, Choice",Hersey Shakes
...,...,...,...,...,...,...,...,...,...,...,...,...
995,49005,"[Pasta - Penne, Rigate, Dry, Browning Caramel ...","Pasta - Penne, Rigate, Dry",Browning Caramel Glace,Tea - Decaf Lipton,"Garlic - Primerba, Paste","Wine - Red, Harrow Estates, Cab",Curry Paste - Madras,Crush - Cream Soda,Muffin - Carrot Individual Wrap,Wine - Ej Gallo Sierra Valley,"Cheese - Boursin, Garlic / Herbs"
996,41286,"[Veal - Inside, Wonton Wrappers, Veal - Inside...",Veal - Inside,Wonton Wrappers,"Veal - Inside, Choice",Bread Crumbs - Japanese Style,Wasabi Powder,Pork - Kidney,Butter - Unsalted,Knife Plastic - White,Muffin - Carrot Individual Wrap,Wine - Blue Nun Qualitatswein
997,85878,"[Olives - Kalamata, Wine - White Cab Sauv.on, ...",Olives - Kalamata,Wine - White Cab Sauv.on,Veal - Eye Of Round,Bread - Calabrese Baguette,Cheese - Wine,Sobe - Tropical Energy,"Spoon - Soup, Plastic",Ice Cream Bar - Hageen Daz To,Tomatoes Tear Drop,Muffin - Carrot Individual Wrap
998,68506,"[Veal - Brisket, Provimi,bnls, Beef - Ground M...","Veal - Brisket, Provimi,bnls",Beef - Ground Medium,"Rosemary - Primerba, Paste",Scallops - 10/20,"Oregano - Dry, Rubbed","Pepper - Black, Whole",Halibut - Steaks,Cod - Black Whole Fillet,"Pepper - Paprika, Hungarian",Pork - Hock And Feet Attached
999,3472,"[Pepper - Black, Whole, Butter - Unsalted, Win...","Pepper - Black, Whole",Butter - Unsalted,Wine - Ej Gallo Sierra Valley,Wine - Blue Nun Qualitatswein,Beef Wellington,"Cheese - Boursin, Garlic / Herbs",Pork - Kidney,Butter - Unsalted,Ice Cream Bar - Hageen Daz To,Wine - Ej Gallo Sierra Valley