In [ ]:
#Challange1

In [ ]:
SELECT authors.au_id,authors.au_fname,authors.au_lname, titles.title, publishers.pub_name
FROM authors 
INNER JOIN titleauthor ON authors.au_id = titleauthor.au_id 
INNER JOIN titles ON titleauthor.title_id = titles.title_id
INNER JOIN publishers ON titles.pub_id = publishers.pub_id;

In [ ]:
#Challange2

In [ ]:
SELECT authors.au_id 'AUTHOR ID',authors.au_lname 'LAST NAME',authors.au_fname 'FIRST NAME', publishers.pub_name 'PUBLISHER', COUNT(*) 'TITLE COUNT'
FROM authors 
INNER JOIN titleauthor ON authors.au_id = titleauthor.au_id 
INNER JOIN titles ON titleauthor.title_id = titles.title_id
INNER JOIN publishers ON titles.pub_id = publishers.pub_id
GROUP BY authors.au_id, publishers.pub_name
ORDER BY COUNT(*) DESC;

In [ ]:
#Challange3

In [ ]:
SELECT authors.au_id 'AUTHOR ID',authors.au_lname 'LAST NAME',authors.au_fname 'FIRST NAME', SUM(sales.qty) TOTAL
FROM authors 
INNER JOIN titleauthor ON authors.au_id = titleauthor.au_id 
INNER JOIN titles ON titleauthor.title_id = titles.title_id
INNER JOIN sales ON titles.title_id = sales.title_id
GROUP BY authors.au_id
ORDER BY TOTAL DESC
LIMIT 3

In [ ]:
#Challange4

In [ ]:
SELECT authors.au_id 'AUTHOR ID',authors.au_lname 'LAST NAME',authors.au_fname 'FIRST NAME', COALESCE(SUM(sales.qty),0) TOTAL
FROM authors 
LEFT JOIN titleauthor ON authors.au_id = titleauthor.au_id 
LEFT JOIN titles ON titleauthor.title_id = titles.title_id
LEFT JOIN sales ON titles.title_id = sales.title_id
GROUP BY authors.au_id
ORDER BY TOTAL DESC